<a href="https://colab.research.google.com/github/QuaziSamiha/Learning-ML/blob/main/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Creating a dataframe using List:

In [ ]:
# In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, 
# storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, 
# dictionary, and from a list of dictionary etc. 
import pandas as pd

# list of strings
lst = ['geeks', 'for', 'geeks', 'is', 'portal', 'for', 'Geeks']
# calling dataframe constructor on List
df = pd.DataFrame(lst)
print(df)

        0
0   geeks
1     for
2   geeks
3      is
4  portal
5     for
6   Geeks

##Creating DataFrame from dict of ndarray/lists:

In [ ]:
import pandas as pd
# initialise data of list
data = {'Name': ['Tom', 'nick', 'krich', 'jack'],
        'Age': [20, 21, 19, 18]}
# To create DataFrame from dict of narray/list, all the narray must be of same length. 
# create dataframe
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krich   19
3   jack   18

In [ ]:
import pandas as pd
data = {'Name': ['Pakija', 'Bushra', 'Rashik', 'Samiha'],
        'Age': [20, 23, 21, 22],
        'Address': ['Rajshahi', 'Dhaka', 'Bogura', 'Sylhet'],
        'Qualification': ['BSc', 'BSc', 'MSc', 'Phd']}
df = pd.DataFrame(data)
print(df[['Name', 'Qualification']])

     Name Qualification
0  Pakija           BSc
1  Bushra           BSc
2  Rashik           MSc
3  Samiha           Phd